{% assign page_url_parts = page.url | split: '/' %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.title | escape }}</a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li class="dropdown{% if page_url_parts[1] == 'components' %} active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Components <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ '/components/smart-card-services/' | prepend: site.baseurl }}">Smart Card Services</a></li>
            <li><a href="{{ '/components/smart-card-ccid/' | prepend: site.baseurl }}">Smart Card CCID</a></li>
            <li><a href="{{ '/components/tokend/' | prepend: site.baseurl }}">TokenD</a></li>
          </ul>
        </li>
        <li{% if page_url_parts[1] == 'installers' %} class="active"{% endif %}><a href="{{ '/installers/' | prepend: site.baseurl }}">Installers</a></li>
        <li{% if page_url_parts[1] == 'news' or page_url_parts[1] == 'post' %} class="active"{% endif %}><a href="{{ '/news/' | prepend: site.baseurl }}">News</a></li>
        <li{% if page_url_parts[1] == 'documentation' %} class="active"{% endif %}><a href="{{ '/documentation/' | prepend: site.baseurl }}">Documentation</a></li>
        <li{% if page_url_parts[1] == 'team' %} class="active"{% endif %}><a href="{{ '/team/' | prepend: site.baseurl }}">Team</a></li>
        <li{% if page_url_parts[1] == 'mailing-lists' %} class="active"{% endif %}><a href="{{ '/mailing-lists/' | prepend: site.baseurl }}">Mailing Lists</a></li>
        <li><a href="https://github.com/smartcardservices/smartcardservices">Development</a></li>
      </ul>
    </div>
  </div>
</nav>
